{% extends 'base.html' %}

{% block content %}
<form action="{% url 'reset_password' %}" method="POST" role="form">
  <div class="container">
      {% include 'includes/messagetax.html' %}
    {% csrf_token %}

    <label><b>New Password</b></label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
      <hr>
      <label><b>New Confirm Password</b></label>
      <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" required>


    <hr>
    <button type="submit" class="btn btn-info">Submit</button>
  </div>
</form>
{% endblock %}