<style>
    .logout-btn {
        font-size: 15px;
        padding: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: -55px;
    }

    .logout-btn:hover {
        color: #f44336;
    }
</style>
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">
                        <h1>Villa</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">

                        <li><a href="{% url 'index' %}" class="{% if '/' == request.path %}active{% endif %}">Home</a>
                        </li>
                        <li><a href="{% url 'advertisements' %}"
                               class="{% if 'advertisements' in request.path  %}active{% endif %}">Properties</a></li>

                        <li><a href="{% url 'contact' %}" class="{% if 'contact' in request.path  %}active{% endif %}">Contact Us</a></li>
                        {% if user.is_authenticated %}
                        <button class="logout-btn">
                            <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a>
                            
                        </button>
                        {% else %}

                        <li><a href="{% url 'login' %}" ><i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a href="{% url 'register' %}"><i class="fa-regular fa-registered"></i></a></li>
                        {% endif %}




                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>